<% include partials/header %>
<% include partials/topnav %>
<div class="container">
  <h1 class="display-4"><strong>Submit Creator (Artist)</strong></h1>
  <div class="container">
    <form action="/creators" method="POST" class="container-fluid">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCName">Creator Name</label>
          <input type="text" class="form-control" id="inputCName" placeholder="Creator Name" name="creator[creatorName]">
        </div>
        <div class="form-group col-md-6">
          <label for="inputGenre">Genre</label>
          <input type="text" class="form-control" id="inputGenre" placeholder="Genre" name="creator[creatorGenre]">
        </div>
      </div>
      <div class="form-group">
        <label for="inputCreatorBIO">CreatorBIO</label>
        <input type="text" class="form-control" id="inputCreatorBIO" placeholder="Copy and Paste from Artist Page..." name="creator[creatorBIO]">
      </div>
      <div class="form-group">
        <label for="inputCreatorIMG">CreatorIMG</label>
        <input type="text" class="form-control" id="inputCreatorIMG" placeholder="Copy and Paste from Artist Page..." name="creator[creatorIMG]">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p><i>I want this styled better, however let's get the rego route setup and communicating with Mongo!</i></p>
    </form>
  </div>
</div>
<% include partials/footer %>